  @import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script:wght@400;500&family=Paytone+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Baloo Da2', sans-serif;
}
body{
    background:rgb(255, 255, 255);
}